.header-nav {
  justify-content: space-between;
  padding: 10px 32px 0px 32px;
  line-height: 42px;
  color: var(--white-color);
  background-color: var(--main-bg);
  .ant-col {
    background-color: var(--main-bg);
  }
}

.header-logout-wrapper {
  color: var(--primary-color, #232a87);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.menu-column-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-column-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.menu-column-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logout-text {
  color: var(--error-dark, #c20);
}
