.header-nav {
  justify-content: space-between;
  padding: 10px 32px 0px 32px;
  line-height: 42px;
  .ant-menu-horizontal {
    border-bottom: 0px;
    color: var(--primary, #232a87);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;
  }
  .ant-menu-horizontal .ant-menu-item {
    padding: 0px 32px;
    color: var(--text-secondary, #898989);
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
    color: var(--primary, #232a87);
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
    border-bottom-color: var(--primary, #232a87);
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
    border-bottom-color: var(--primary, #232a87);
  }

  .ant-menu-horizontal > .ant-menu-item-active::after {
    border-bottom-color: var(--white, #fff);
  }

  .ant-menu-light
    .ant-menu-item:not(.ant-menu-item-selected):not(
      .ant-menu-submenu-selected
    ):hover {
    color: var(--primary, #232a87);
  }
}

.header-logout-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.menu-column-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-column-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.menu-column-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logout-text {
  color: var(--error-dark, #c20);
}
