.layout-wrapper {
  background: var(--main-bg);
  height: 100dvh;
}

.chatbox-wrapper {
  background: var(--main-bg);
}

.ant-layout-header {
  height: 72px;
  &:has(.hide-header) {
    display: none;
  }
}

.header-wrapper {
  background: var(--main-bg, #000);
  border-bottom: 1px solid var(--stroke-color, #dcdcdc);
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08);
}

@media (max-width: 900px) {
  .header-wrapper {
    padding: 0px;
    margin-bottom: 0px;
  }
}
