@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* :root {
  --primary-color: #1677ff;
  --secondary-color: #e9eaf3;
  --background-color: #f9f9f9;
  --text-primary: #0c0c0c;
  --text-secondary: #898989;
  --stroke-color: #dcdcdc;
  --grey-dark: #f2f2f2;
  --grey-light: #f6f6f6;
  --white-color: #fff;
  --error-dark: #cc2200;
  --success-dark: #6ea550;
  --error-light: #fae9e5;
  --success-light: #f0f6ed;
} */

:root {
  --primary-color: #1677ff;
  --secondary-color: #4a4a4a;
  --background-color: #2d2d2d;
  --main-bg: #1e1e1e;
  --text-primary: #fff;
  --text-secondary: white;
  --stroke-color: #3e3737;
  --grey-dark: #f2f2f2;
  --grey-light: #f6f6f6;
  --white-color: #fff;
  --error-dark: #cc2200;
  --success-dark: #6ea550;
  --error-light: #fae9e5;
  --success-light: #f0f6ed;
}
