# Django and related packages
django==3.2.12
django-cors-headers==4.0.0
djangorestframework==3.12.4
whitenoise==5.3.0

# Channels and Daphne for WebSocket support
channels==3.0.4
daphne==3.0.2

# MongoDB support
pymongo==3.12.1

# Environment variables handling
python-dotenv

# MongoDB support for Django
djongo

# Certifi for SSL certificates
certifi

# Additional packages to ensure compatibility with Python 3.11.3
dataclasses==0.8
typing-extensions==4.0.1
